
  <nav id="mainNav">
    <a href="/home"><h1>Gentribuy</h1></a>
    <a href="">Transactions</a>
    <a href="/api/items">Items</a>
    <a href="/api/addItem" class="newText">Add New Item</a>
  </nav>