<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Gentribuy</title>
    {{!-- <script src="https://cdnjs.com/libraries/Chart.js"></script> --}}
</head>
    <body>
        <main>

            {{{ body }}}

        </main>
    </body>
</html>