  <nav id="mainNav">
    <a href=""><h1>Gentribuy</h1></a>
    <a href="">Transactions</a>
  </nav>

  <div id="homeContainer">

    <header>
      <h1 id="homeGreeting">Hello, USER</h1>
      <h2 id="homeFunds"> Total Funds: $5,000</h2>
    </header>
  
    <div id="homeItemContainer">
      <div class="homeItemBox">
        <h3>ITEM 1</h3>
        <p>$0000 saved out of $2,000</p>
      </div>
      <div class="homeItemBox">
        <h3>ITEM 2</h3>
        <p>$0000 saved out of $2,000</p>
      </div>
      <div class="homeItemBox">
        <h3>ITEM 3</h3>
        <p>$0000 saved out of $2,000</p>
      </div>
    </div>

  </div>

