
  {{> navbar}}

  <div id="homeContainer">
  
    <header>
      <h1 id="homeGreeting">Hello, USER</h1>
      <h2 id="homeFunds"> Total Funds: $5,000</h2>
      <a href="/api/addFunds"><button>Add Funds</button></a>
    </header>
  
    <div id="homeItemContainer">
      {{#each items}}
      <div class="homeItemBox">
        <h3>{{name}}</h3>
        <p>$0000 saved out of ${{cost}}</p>
      </div>
      {{/each}}
      
    </div>

  </div>

