

  <nav id="mainNav">
    <a href="/"><h1>Gentribuy</h1></a>
    <a href="">Transactions</a>
  </nav>

  <div id="homeContainer">
    
    {{#each items}}
    <div id="itemPageContainer">
      <h1>{{name}}</h1>
      <h3>$0000 saved out of ${{cost}}</h3>
      <p>{{notes}}</p>
    </div>
    {{/each}}
  </div>
