

  {{> navbar}}
<div class="item-container">
  <div id="homeContainer">
    
    {{#each items}}
    <div class="itemPageContainer">
      <h1>{{name}}</h1>
      <h3>$0000 saved out of ${{cost}}</h3>
      <p>{{notes}}</p>
      <label for="addPledge">Add Money:</label>
      <input type="text" id="addPledge" name="addPledge" required>
      <input type="submit" value="Add">
    </div>
    {{/each}}
  </div>
  
  <div>
  <canvas id="myChart"></canvas>
</div>
</div>
 <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/js/chart.js"></script>