

  <nav id="mainNav">
    <a href=""><h1>Gentribuy</h1></a>
    <a href="">Transactions</a>
  </nav>

  <div id="homeContainer">
    
    <div id="itemPageContainer">
      <h1>ITEM 1</h1>
      <h3>$0000 saved out of $2,000</h3>
      <p>this is where the notes can go... blah blah blah sample text this means nothing just want to make sure this will wrap</p>
    </div>

  </div>
