

  {{> navbar}}


  <div id="homeItemContainer">
    {{#each items as |item|}}
    <div id="itemPageContainer">
      <h1>{{name}}</h1>
      <div class="savedLine">
          <p class="greenFont">${{pledged}}</p>
          <p>saved out of</p>
          <p class="greenFont">${{cost}}</p>
      </div>
      <p>{{notes}}</p>
    </div>
    {{/each}}
  </div>
