

  <div id='loginContainer'>
    <h2>
      Gentribuy
    </h2>
    <form class="login-form" action="" method="post">
  
      <input type="text" id="userEmail" name="userEmail" placeholder="Email" required>
      <br />
      <input type="text" id="userPassword" name="userPassword" placeholder="Password" required>
      <br />
      <input type="submit" value="Log In">
    </form>

    <p>Don't have an account? <br> Sign up <a href="/signup">here</a></p>
  </div>

<script src="./js/login.js"></script>