

  <div id='addItemContainer'>
    <h2>
      Log In!
    </h2>
    <form action="" method="post">
  
      <label for="userEmail">Enter your email:</label>
      <br />
      <input type="text" id="userEmail" name="userEmail" required>
      <br />
      <label for="userPassword">Enter your password:</label>
      <br />
      <input type="text" id="userPassword" name="userPassword" required>
      <br />
      <input type="submit" value="Log In">
    </form>

    <p>Don't have an account? Sign up <a href="/signup">here</a></p>
  </div>
