
  <div id='addItemContainer'>
    <h2>
      Sign Up!
    </h2>
    <form class="signUp-form" action="" method="post">
  
      <label for="userName">What is your name?:</label>
      <br />
      <input type="text" id="userName" name="userName" required>
      <br />
      <label for="userEmail">What is your email?:</label>
      <br />
      <input type="text" id="userEmail" name="userEmail" required>
      <br />
      <label for="userPassword">Enter a password:</label>
      <br />
      <input type="text" id="userPassword" name="userPassword" required>
      <br />
      <input type="submit" value="Sign up">
    </form>

    <p>Already have an account? log in <a href="/login">here</a></p>
  </div>

  <script src="./js/signUp.js"></script>