
  <div id='loginContainer'>
    <h2>
      Sign Up!
    </h2>
    <form class="signUp-form" action="" method="post">
  
      <input type="text" id="userName" name="userName" placeholder="Name" required>
      <br />
      <input type="text" id="userEmail" name="userEmail" placeholder="Email" required>
      <br />
      <input type="text" id="userPassword" name="userPassword" placeholder="Password" required>
      <br />
      <input type="submit" value="Sign up">
    </form>

    <p>Already have an account? log in <a href="/login">here</a></p>
  </div>

  <script src="./js/signUp.js"></script>