:root {
    --darkBlue: #071A52;
}

body {
    background-color: #464646;
}

main {
    height: 100vh;
    width: 100vw;
    display: inline-flex;
}

#mainNav {
    height: 100%;
    width: 20%;
    min-width: fit-content;
    background-color: var(--darkBlue);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 3px solid black;
    padding-right: 3%;
    padding-left: 3%;
}

#mainNav a {
    color:chartreuse;
    font-size: 30px;
    font-family: sans-serif;
    text-decoration: none;
    margin-top: 5%;
}

#mainNav .newText {
    color:rgb(0, 247, 255);
    margin-top: 50%;
}

#homeContainer {
    width: 80%;
}

header {
    text-align: center;
}

#homeItemContainer {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.homeItemBox {
    width: 26%;
    border: 5px solid chartreuse;
    margin-top: 3%;
    text-align: center;
}

.itemPageContainer {
    color: white;
    text-align: center;
    border: 3px solid #071A52;
    background-color: #086972;
    width: fit-content;
    max-width: 60%;
    margin: auto;
    padding: 5%;
}


#addItemContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: 80%;
    margin: auto;
    margin-top: 5%;
    text-align: center;
    border: 5px solid chartreuse;
}

#addItemContainer form{
    width: 60%;
}

#addItemContainer input{
    width: 100%;
    margin: 1% 0 5% 0;
}

#addItemContainer input[type="submit"] {
    width: 40%;
    height: 2rem;
}

#addItemContainer textarea{
    width: 100%;
    margin: 1% 0 5% 0;
}


#landingBox {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

#landingBox h1 {
    font-size: 80px;
    color: chartreuse;
    font-family: sans-serif;
    text-shadow: 3px 3px 10px black;
}

#landingBox p {
    font-size: 20px;
    font-family: cursive;
    margin-top: -10%;
    margin-bottom: 10%;
    color: white;
}

#landingBox button {
    margin: 5%;
    font-size: 25px;
    padding: 8px;
}

#landingBox button:hover {
    background-color: aqua;
}

.item-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}